{% load static %}
<html>

<head>
    {% include 'layout/base.html' %}
    <title>'s Profile</title>
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/main.css' %}" />
</head>

<body style="background-color: black;">
    {% include 'navigation/fullNav.html' %}
    <section class="main" id="core">
        <section class="main centering">
            <p class="mainText robotoCondensed" style="font-size: 12vmax">
                Coming Soon
            </p>
        </section>
    </section>
    {% include 'layout/javascripts.html' %}
</body>

</html>