{% load static %}
<html>

<head>
    {% include 'layout/base.html' %}
    <title>'s Form</title>
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/main.css' %}" />
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/bootstrap.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/effect2.css' %}" />
    <link href="{% static 'css/hamburgers.css' %}" rel="stylesheet">
</head>

<body>
    <button class="hamburger hamburger--collapse btn btn-info pox bloaterRight" type="button" data-toggle="modal" data-target="#myModal" id="navig">
        <span class="hamburger-box">
            <span class="hamburger-inner"></span>
        </span>
    </button> {% block content %} {% endblock %}

</body>
<script src="{% static 'js/jquery-3.2.1.js' %}"></script>
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
<script>
    var $hamburger = $(".hamburger");
    $hamburger.on("click", function(e) {
        $hamburger.toggleClass("is-active");
    });
</script>

</html>