{% load static %}
<!DOCTYPE html>
<html class="lightHtml">

<head>
    {% include 'layout/base.html' %}
    <title>'s FAQ</title>
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/accor.css' %}" />
</head>

<div class="preloader" id="preloader">
    <img class="preloader" src="{% static 'bg/preload.gif' %}">
</div>

<body>
    {% include 'navigation/fullNav.html' %}
    <video autoplay muted loop id="myVideo">
        <source src="{% static 'bg/1.mp4' %}" type="video/mp4">
    </video>

    <div class="header fullHeight lightOpaq" id="head">
        <div class="titleText fullHeight lightText" id="line1">
            <p id="freq">
                Frequently
            </p>
        </div>
        <div class="titleText fullHeight lightText" id="line2">
            <p>
                Asked
            </p>
        </div>
        <div class="titleText fullHeight lightText" id="line3">
            <p>
                Question
            </p>
        </div>
        <div class="subtitle fullHeight" id="line4">
            <p>
                <button id="light" onclick="lightFunction()">Light</button>
                <button id="dark" onclick="darkFunction()">Heavy</button>
            </p>
        </div>
        <div class="subtitle fullHeight" id="line4">
            <p>
                <button id="toggle" onclick="toggleTheme()">Toggle Theme</button>
            </p>
        </div>
    </div>
    <div id="st-accordion" class="st-accordion w75">
        <ul>
            <li>
                <a href="#" class="lightContent" id="faq1">
                    Full Name
                    <span class="st-arrow">Open or Close</span>
                </a>
                <div class="st-content">
                    <p class="white" id="fullName">My full name is Nathanael.. </p>
                    <p class="white">No more and no less, Thank You</p>
                </div>
            </li>
            <li>
                <a href="#" class="lightContent" id="faq2">
                    Activities
                    <span class="st-arrow">Open or Close</span>
                </a>
                <div class="st-content">
                    <p class="white">Activities : </p>
                    <p class="white">
                        1. Study
                        <br>
                        <br> 2. Hanging out
                        <br>
                        <br> 3. back to 1
                    </p>
                    <p class="white">Experiences : </p>
                    <p class="white">
                        1. Secretary at Weekend KUKSA Fasilkom-UI 2018
                        <br>
                        <br> 2. to be continue
                    </p>
                </div>
            </li>
            <li>
                <a href="#" class="lightContent" id="faq3">
                    Organization
                    <span class="st-arrow">Open or Close</span>
                </a>
                <div class="st-content">
                    <p class="white">Aw ..... </p>
                    <p class="white">if my NewbieWorks could be considered as organization, then ..</p>
                    <p class="white">1. NewbieWorks</p>
                    <p class="white">end</p>
                </div>
            </li>
            <li>
                <a href="#" class="lightContent" id="faq4">
                    Achievements
                    <span class="st-arrow">Open or Close</span>
                </a>
                <div class="st-content">
                    <p class="white">I've survived until this day</p>
                    <p class="white">Thanks for asking :D</p>
                </div>
            </li>
            <li>
                <a href="#" class="lightContent" id="faq5">
                    Place
                    <span class="st-arrow">Open or Close</span>
                </a>
                <div class="st-content">
                    <p class="white">Hmm... From your imagination?</p>
                    <p class="white">From the world</p>
                    <p class="white">From here</p>
                </div>
            </li>
            <li>
                <a href="#" class="lightContent" id="faq6">
                    Social Media
                    <span class="st-arrow">Open or Close</span>
                </a>
                <div class="st-content">
                    <p class="white">Sure Have!!</p>
                    <p class="white">Find me on <a href="https://www.facebook.com/nathanael.lie.9">Facebook</a></p>
                    <p class="white">Find me on <a href="https://twitter.com/L__NathanaeL">Twitter</a></p>
                    <p class="white">Find me on <a href="https://www.instagram.com/n.th.n.el">Instagram</a></p>
                    <p class="white">Find me on <a href="mailto:evo220999@gmail.com">Email</a></p>
                    <p class="white">Find me on <span class="fake">Por...</span>, Nevermind~~</p>
                </div>
            </li>
        </ul>
    </div>
    {% include 'layout/javascripts.html' %}
    <script type="text/javascript" src="{% static 'js/accordio.js' %}"></script>
</body>