html {
    background: url(/static/bg/1.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
    overflow: auto;
}

body {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: none;
    color: white;
}

table,
th,
td {
    border: 1px solid white;
    color: white;
}

table {
    border-collapse: collapse;
    background-color: rgba(0, 0, 0, 0.4);
    margin: 2vmax;
    margin-top: 14vh;
}

th {
    font-size: calc(14px + 1vmax);
    text-align: center;
}

td {
    padding: 1vmax;
    line-height: 1.5;
    font-size: calc(12px + 0.5vmax);
    text-align: justify;
}

.title {
    text-align: center;
}

.favo {
    align-self: center;
    justify-self: center;
    background: url(/static/bg/unfav.jpg);
    background-size: 30px 30px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.changeFav {
    background: url(/static/bg/fav.jpg);
    background-size: 30px 30px;
}

#total {
    color: white;
}

#getMe {
    height: 100vh;
    width: 100vw;
    background-color: black;
    font-size: 10vmax;
    color: white;
    position: fixed;
    z-index: 1000;
    margin: 0;
    padding: 0;
    text-align: center;
    padding-top: 45vh;
}

#hideFirst {
    display: none;
}

#total {
    margin-left: 2vmax;
    margin-top: 2vmax;
}

.fullScreen {
    height: 100vh;
    position: absolute;
    width: 100vw;
    top: 0;
    left: 0;
}

#level {
    width: auto;
    height: auto;
    position: absolute;
    display: none;
}

.option {
    margin-top: 2vmax;
    margin-left: 2vmax;
}