html {
    background: url(/static/bg/1.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
    overflow: auto;
}


/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

@font-face {
    font-family: Poppins-Regular;
    src: url('../fonts/poppins/Poppins-Regular.ttf');
}

@font-face {
    font-family: Poppins-Medium;
    src: url('../fonts/poppins/Poppins-Medium.ttf');
}


/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    font-family: Poppins-Regular, sans-serif;
}

th {
    font-family: Poppins-Regular;
    font-size: 3vmax;
    line-height: 1.7;
    color: #cccccc;
    margin: 0px;
    text-align: center !important;
}

td {
    font-family: Poppins-Regular;
    font-size: 1.7vmax;
    line-height: 1.7;
    color: #ffffff;
    margin: 0px;
    vertical-align: middle !important;
}

.p5 {
    padding: 5vmax 5vmax 5vmax 5vmax;
}

.blurBlackBg {
    background-color: rgba(0, 0, 0, 0.4);
    padding: 3vmax;
}

.unwise {
    border: 1px white;
    background-color: grey;
    font-size: 1.5vmax;
    padding: 1vmax 1vmax 1vmax 1vmax;
    align-self: center;
}

.numerus {
    text-align: center;
}

.footable-empty {
    display: none !important;
}