{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'layout/base.html' %}
    <title>'s Subscribe Form</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'fonts/iconic/css/material-design-iconic-font.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/subscribe.css' %}">
</head>

<body>
    {% include 'navigation/fullNav.html' %}
    <p class="disclaimer">
        Forms Designed and Styling implemented from Colorlib <br> Login Form 3 by Colorlib
    </p>
    <div class="container-login100">
        <div class="wrap-login100">
            <form method="POST" id="subForm">
                {% csrf_token %}
                <h1 style="color:white; text-align:center;margin-bottom: 3vmax" id="topText">
                    Join as Subscriber<br>
                    <span style='font-size: 14px'>view my <a href="{% url 'viewers' %}">subscribers</a></span>
                </h1>

                <p class="caution" id="cauUsername">Please insert 8 - 20 character username</p>
                <div class="wrap-input100" data-validate="Enter username">
                    {{ form.username }}
                    <span class="focus-input100" data-placeholder="&#xf207;"></span>
                </div>

                <p class="caution" id="cauEmail">Enter valid Email, Please...</p>
                <div class="wrap-input100" data-validate="Enter email">
                    {{ form.email }}
                    <span class="focus-input100" data-placeholder="&#xf15a;"></span>
                </div>

                <p class="caution" id="cauPassword">8 - 20 character you won't share with others</p>
                <div class="wrap-input100" data-validate="Enter password">
                    {{ form.password }}
                    <span class="focus-input100" data-placeholder="&#xf191;"></span>
                </div>

                <div class="container-login100-form-btn">
                    <button class="login100-form-btn" type="button" id="submit">
                        Login
                    </button>
                </div>
            </form>
        </div>
    </div>
    {% include 'layout/javascripts.html' %}
    <script src="{% static 'js/subscribe.js' %}"></script>
</body>

</html>