{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'layout/base.html' %}
    <title>'s Subscribers</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/fontawesome.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/footable.standalone.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/viewers.css' %}">
</head>

<body>
    {% include 'navigation/fullNav.html' %} {% csrf_token %}
    <div class='p5'>

        <table class="table blurBlackBg">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>UnSubscribe</th>
                </tr>
            </thead>
            <tbody id="ajaxer">
            </tbody>
        </table>
    </div>
    {% include 'layout/javascripts.html' %}
    <script src="{% static 'js/moment.js' %}"></script>
    <script src="{% static 'js/footable.js' %}"></script>
    <script src="{% static 'js/subscriberShow.js' %}"></script>
</body>

</html>