{% load static %}
<button class="hamburger hamburger--collapse btn btn-info pox bloaterRight" type="button" data-toggle="modal" data-target="#myModal" id="navig">
    <span class="hamburger-box">
        <span class="hamburger-inner"></span>
    </span>
</button>

<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-body">
        <div class="halfNav">
            <p>
                <a class="menu" href="{% url 'index' %}">Home</a><br>
                <a class="menu" onclick="showContent()">Profile</a><br>
                <a class="menu" href="{% url 'around360' %}">Friends</a><br>
                <!-- <a class="menu" href="{% url 'guest' %}">Guest Book</a><br> -->
                <a class="menu" href="{% url 'forming' %}">Forming Jadwal</a><br>
                <a class="menu" href="{% url 'shelf' %}">Library</a><br>
                <a class="menu" href="{% url 'login' %}">Subscribe</a><br>
                <a class="menu" href="{% url 'accorDio' %}">FAQ</a><br>
                <a class="menu" href="{% url 'theDoor' %}">LOGIN</a><br>
            </p>
        </div>
        <div class="vl" id="verticalLine">
        </div>
        <div class="halfNav" id="rightMod">
            <p id="content">
                <a class="menu" id="menu1" href="profile#core" onclick="$('#myModal').modal('hide')">Profile</a><br>
                <a class="menu" id="menu2" href="profile#profile" onclick="$('#myModal').modal('hide')">Description</a><br>
                <a class="menu" id="menu3" href="profile#edu" onclick="$('#myModal').modal('hide')">Education Record</a><br>
                <a class="menu" id="menu4" href="profile#achievementContainer" onclick="$('#myModal').modal('hide')">Achievement</a><br>
                <a class="menu" id="menu5" href="profile#skill" onclick="$('#myModal').modal('hide')">Skill</a><br>
            </p>
        </div>
    </div>
</div>