{% load static %}
<!DOCTYPE html>
<html>

<head>
    {% include 'layout/base.html' %}
    <title>'s Landing Page</title>
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/landing.css' %}" />
</head>

<body>
    {% include 'navigation/fullNav.html' %}
    <div class="flexDef fullFlexScreen">
        <div class="flexDef centerBlack" id="blurBlackBg">
            <p class="white titleText fullHeightPercent flex1 noMargin alignTcenter" id="welcomeText">
                {{ hello }}
                <br> find more about me <a href="profile">here</a>
                <br> now, Scroll Down!!
            </p>
        </div>
    </div>
    <div class="flexDef flexDirCol fullHeight blurBlackBg">
        <div class="pad2 margTopAuto">
            {% for item in fullSet %}
            <div class="white">
                <p>
                    {{ item.statText }}
                </p>
            </div>
            {% endfor %}
        </div>
        <div class="pad2 margTopAuto">
            <form method="POST">
                <table class="white">
                    {% csrf_token %} {{ form.as_table }}
                </table>
                <br>
                <button>
                    Share My Status
                </button>
            </form>
        </div>
    </div>
    {% include 'layout/javascripts.html' %}
</body>

</html>