{% load static %}
<!DOCTYPE html>
<html>

<head>
    {% include 'layout/base.html' %}
    <title>'s Shelf</title>
    <meta name="google-signin-client_id" content="918159443378-2fgt9acknasvc7apdvgsj84rapr5mb5l.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js"></script>
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/shelf.css' %}" />
</head>

<body>
    {% include 'navigation/fullNav.html' %} {% csrf_token %}
    <center>
        <h1>Welcome, {{ name }} </h1>
    </center>
    <div class="option">
        <a class="menu jsonMenu" id="json1" onclick="getJson('quilting')">Quilting</a><br>
        <a class="menu jsonMenu" id="json2" onclick="getJson('comic')">Comic</a><br>
        <a class="menu jsonMenu" id="json3" onclick="getJson('vocaloid')">Vocaloid</a><br>
    </div>


    <div id="level">
    </div>

    <h1 id="total" style="display: none"> TOTAL = {{ totalFav }} </h1>
    <table id="hideFirst">
        <thead>
            <th>
                Title
            </th>
            <th>
                Description
            </th>
            <th>
                Authors
            </th>
            <th>
                Publisher
            </th>
            <th>
                Publish Date
            </th>
            <th>
                Fav
            </th>
        </thead>
        <tbody id="medium">

        </tbody>
    </table>
    {% include 'layout/javascripts.html' %}
    <script>
        $(document).ready(function() {
            $('[data-toggle="tooltip"]').tooltip();

            gapi.load('auth2', function() {
                gapi.auth2.init();
            });
        });

        function getJson(variable) {
            $.ajax({
                url: "/shelf/book/" + variable,
                success: function(result) {
                    console.log("in ajax");
                    console.log(result.fullLib);
                    var txt = "";
                    var fullLibrary = result.fullLib
                    for (item in fullLibrary) {
                        var focus = fullLibrary[item].focus;
                        txt += "<tr>";
                        var sub;
                        if ("subtitle" in focus) {
                            sub = focus.subtitle;
                        } else {
                            sub = " ";
                        }
                        // focus.imageLinks.thumbnail
                        txt += '<td class="title">';
                        txt += '<a ';
                        if ("imageLinks" in focus) {
                            var image = "\'" + focus.imageLinks.thumbnail + "\'";
                            txt += 'onmouseover="show(' + image + ')"';
                            txt += 'onmouseout="hide()"'
                        }
                        var preview = "\'" + focus.previewLink + "\'";
                        txt += 'target="_blank" class="titem" href=' + preview + ' data-toggle="tooltip" title="' + sub +
                            '">';
                        txt += focus.title; + '</a>';
                        txt += "</td>";
                        txt += "<td>" + focus.description + "</td>";
                        txt += "<td>" + focus.authors + "</td>";
                        txt += "<td>" + focus.publisher + "</td>";
                        txt += "<td>" + focus.publishedDate + "</td>";
                        var idToPass = '"' + fullLibrary[item]['bookId'] + '"';
                        txt += "<td>";
                        if (fullLibrary[item].fav) {
                            txt += "<div id='" + fullLibrary[item]['bookId'] + "'class='favo changeFav' onclick='noFav(" + idToPass + ")'></div>";
                        } else {
                            txt += "<div id='" + fullLibrary[item]['bookId'] + "'class='favo' onclick='favMe(" + idToPass + ")'></div>";
                        }
                        txt += "</td>";
                        txt += "</tr>";
                    }
                    setTimeout(function() {
                        $("#total").fadeIn(1000);
                        $("#firstChoice").fadeOut(0);
                        $("#hideFirst").fadeIn(1000);
                        document.getElementById("medium").innerHTML = txt;
                    }, 2000);
                }
            });
        }

        $(document).on('mousemove', function(e) {
            $('#level').css({
                left: e.pageX + 20,
                top: e.pageY - 20
            });
        });

        function show(url) {
            console.log(url);
            $('#level').fadeIn(0);
            txt = "<img src=" + url + ">"
            document.getElementById("level").innerHTML = txt;
        }

        function hide() {
            $('#level').fadeOut(0);
            $('#level').innerHTML = null;
        }
    </script>
    <script src="{% static 'js/shelf.js' %}"></script>
</body>

</html>