{% load static %}
<html>

<head>
    {% include 'layout/base.html' %}
    <title>'s Profile</title>
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/main.css' %}" />
</head>

<body>
    <a href='#core'>
        <img src="{% static 'bg/top.png' %}" id="circle" class="pox bloaterRight hoverable">
    </a>

    {% include 'navigation/fullNav.html' %}

    <section class="anchor main" id="core">
        <section class="main centering">
            <p class="mainText robotoCondensed">
                Welcome to My Profile
            </p>
        </section>
        <section class="centering">
            <img class="mainObject" src="{% static 'bg/avatar.png' %}" id="avatar">
        </section>
        <section class="main centering">
            <p class="mainText robotoCondensed">
                {{ myname }}
            </p>
        </section>
    </section>

    <section class="anchor even main" id="profile">
        <section class="flexDef vertical flex1">
            <p class="titleText robotoCondensed" style="margin-bottom: 0;">
                HI, I'M
                <span style="color:purple">{{ titlename }}</span>
            </p>
            <p class="mini">
                web designer and programmer
            </p>
        </section>
        <section class="main flex2">
            <section class="flexDef horizon wrap">
                <section class="flexDef flex1 left" style="padding: 1vh 3vw 1vh 6vw;">
                    <img src="{% static 'bg/avatar.png' %}" id="avatar">
                </section>
                <section class="flexDef flex2 right">
                    <p style="padding: 1vh 8vw 1vh 3vw;">
                        {{ desc }}
                    </p>
                    <table class="id_table">
                        <tr>
                            <td class="grey">Age</td>
                            <td>: {{ age }}</td>
                        </tr>
                        <tr>
                            <td class="grey">Address</td>
                            <td>: {{ address }}</td>
                        </tr>
                        <tr>
                            <td class="grey">Email</td>
                            <td>: {{ email }}</td>
                        </tr>
                        <tr>
                            <td class="grey">Phone</td>
                            <td>: {{ phone }}</td>
                        </tr>
                        <tr>
                            <td class="grey">Nationality</td>
                            <td>: {{ nationality }}</td>
                        </tr>
                    </table>
                </section>
            </section>
        </section>
    </section>
    <section class="anchor odd" id="edu"></section>
    <section class="anchor even vertical" id="achievementContainer">
        <section class="titleLayout flexDef vertical ">
            <p class="titleText" id="Achievement">Achievement</p>
            <div class="separator"></div>
        </section>
        <section class="bodyPart flexDef horizon">
            <div class="achievementBox" id="ac1">
                <article class="achievement_text">
                    <p>
                        <span class="ac_title">Archon 4 on DotA2</span>
                        <hr>On the second time DotA 2 medal system calibration, after doing hard 10 solo games and 10 party games.
                    </p>
                </article>
            </div>
            <div class="achievementBox" id="ac2">
                <article class="achievement_text">
                    <p>
                        <span class="ac_title">Useless Blogger</span>
                        <hr>Fell to the boredom, Nathanael create a blog out of curiosity named after his gaming name. NewbieWorksHolopsicon now filled with useless post and boring stories with false english. </p>
                </article>
            </div>
            <div class="achievementBox" id="ac3">
                <article class="achievement_text">
                    <p>
                        <span class="ac_title">3029 Following</span>
                        <hr>As per 19 September 2018, Nathanael's second account on Instagram reach 3029 followings without following a single fake account.
                    </p>
                </article>
            </div>
        </section>
    </section>
    <section class="anchor odd" id="skill">
        <section class="titleLayout flexDef vertical ">
            <p class="titleText white" id="Skill">Skill</p>
            <div class="separator white"></div>
        </section>
        <section class="bodyPart flexDef horizon">
            <div class="SkillBox">
                <p class="skillTitle">Programming Language Mastery</p>
                <hr>
                <p>Python</p>
                <p>Java</p>
                <p>Html</p>
                <p>JavaScript</p>
            </div>
            <div class="SkillBox">
                <p class="skillTitle">Personal Skill</p>
                </p>
                <hr>
                <p>Video Editing</p>
                <p>Pentesting</p>
                <p>Cooking</p>
                <p>Positive Thinking </p>
            </div>
        </section>
    </section>
    <section class="anchor end flexDef vertical">
        <p class="endNoteTitle robotoCondensed">
            Contact Me
        </p>
        <p class="endInfo">
            Thank you for visiting my Profile Site
            <br> You can contact me on my
            <a class="ender" id="mail" href="mailto:evo220999@gmail.com">Email</a>, or on my social media
            <br> Such as
            <a class="ender" id="fb" href="https://www.facebook.com/nathanael.lie.9">Facebook</a> ,
            <a class="ender" id="line" href="http://line.me/ti/p/~evohacker">Line</a>,
            <a class="ender" id="whatsapp" href="https://www.line.me/">WhatsApp</a>, or
            <a class="ender" id="instagram" href="https://www.line.me/">Instagram</a>
        </p>
    </section>

    {% include 'layout/javascripts.html' %}
    <script src="{% static 'js/main.js' %}"></script>
</body>

</html>