{% load static %}
<!DOCTYPE html>
<html>

<head>
	{% include 'layout/base.html' %}
	<title>{{ responseCode }}</title>
	<style type="text/css">
		body {
			background-color: #000;
			font-family: "Futura Condensed", sans-serif;
			color: #ff0000;
			text-align: center;
			max-height: 100vh;
			overflow: hidden;
		}
	</style>
</head>

<body>
	<h1>What Are You Doing Here!!</h1>
	<h2>Error Encountered !! : {{ responseCode }}</h2>
	<img src="{% static 'bg/no.jpg' %}">
</body>

</html>