{% load static %}
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" href="{% static 'bg/favicon.ico' %}" type="image/x-icon">
<link rel="icon" href="{% static 'bg/favicon.ico' %}" type="image/x-icon">
<link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/bootstrap.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/effect2.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/navigation.css' %}" />
<link href="{% static 'css/hamburgers.css' %}" rel="stylesheet">