{% load static %}
<script src="{% static 'js/jquery-3.2.1.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
<script src="{% static 'js/navi.js' %}"></script>
<script src="{% static 'js/jquery.accordion.js' %}"></script>
<script src="{% static 'js/jquery.validate.js' %}"></script>