{% load static %}
<!DOCTYPE html>
<html>

<head>
    {% include 'layout/base.html' %}
    <title>the door</title>
    <meta name="google-signin-client_id" content="918159443378-2fgt9acknasvc7apdvgsj84rapr5mb5l.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js"></script>
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/theDoor.css' %}" />
</head>

<body>
    {% include 'navigation/fullNav.html' %}
    <div class="fullContainer" id="fullContainer">
        <canvas id="demo-canvas">
        </canvas>
    </div>
    <div class="white">
        <center>
            <h1>
                Login
            </h1>
            <div class="login">
                {% csrf_token %}
                <div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>
                <a href="#" onclick="getMeOut()">Sign Out</a>
            </div>
        </center>
    </div>

    {% include 'layout/javascripts.html' %}
    <script src="{% static 'js/Pack.min.js' %}"></script>
    <script src="{% static 'js/Lite.min.js' %}"></script>
    <script src="{% static 'js/theDoor.js' %}"></script>
    <script>
        function onSignIn(googleUser) {
            var profile = googleUser.getBasicProfile();
            var id_token = googleUser.getAuthResponse().id_token;
            $.ajax({
                method: "POST",
                url: "/verifyMe",
                headers: {
                    "X-CSRFToken": document.getElementsByName('csrfmiddlewaretoken')[0].value
                },
                data: {
                    token: id_token
                },
                success: function(result) {
                    if (result['status'] == "0") {
                        approved(profile);
                    } else {
                        alert("Error while authenticating you ... w-wait, Who are you ?");
                    }
                }
            })
        };

        function getMeOut() {
            var auth2 = gapi.auth2.getAuthInstance();
            auth2.signOut().then(function() {
                console.log('User signed out.');
            });
            window.location.href = "{% url 'no-longer-here' %}"
        }


        function approved(profile) {
            var id = profile.getId();
            var name = profile.getName();
            var givenName = profile.getGivenName();
            var emailUrl = profile.getEmail();
            var avatar = profile.getImageUrl();

            var paramsToSend = {
                'id': id,
                'name': name,
                'givenName': givenName,
                'emailUrl': emailUrl,
                'avatar': avatar,
                'csrfmiddlewaretoken': document.getElementsByName('csrfmiddlewaretoken')[0].value
            }

            var form = document.createElement("form");
            form.setAttribute("method", "POST");
            form.setAttribute("action", "{% url 'thyProfile' %}");

            for (var key in paramsToSend) {
                var hiddenField = document.createElement("input");
                hiddenField.setAttribute("type", "hidden");
                hiddenField.setAttribute("name", key);
                hiddenField.setAttribute("value", paramsToSend[key]);
                form.appendChild(hiddenField);
            }
            document.body.appendChild(form);

            form.submit()
        }

        $(document).ready(function() {
            gapi.load('auth2', function() {
                gapi.auth2.init();
            });
        });
    </script>
</body>

</html>