<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>

<body>
    <p>
        {{userId}}
    </p>
    <p>
        {{userName}}
    </p>
    <p>
        {{userGivenName}}
    </p>
    <p>
        {{userEmail}}
    </p>
    <img src='{{userAvatar}}'>
    </p>

    {% if totalBook == 0 %}
    <p>
        You haven't favorited any book, go to
        <a href="{% url 'library' %}">
            library
        </a> now !
    </p>{% endif %}
</body>

</html>